.styleBTN {
    padding: 12px 40px;
    border: 2px solid #00C2FF;
    position: relative;
    background-color: #ffff;
    border-radius: 5px;
    transition: all 0.3s;
}


.styleBTN:hover{
    box-shadow: 0px 0px 5px #00C2FF ;
    transition-timing-function: ease;
    transition-property:all;
    transition-duration: 0.2s;
}
